In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [18]:
data=pd.read_csv("/Users/udaysinghshekhawat/Downloads/absenteeism+at+work/Absenteeism_at_work.csv")

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                --------------  -----
 0   ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours  740 non-null    object
dtypes: object(1)
memory usage: 5.9+ KB

In [12]:
data.describe

<bound method NDFrame.describe of     ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours
0    11;26;7;3;1;289;36;13;33;239.554;97;0;1;2;1;0;...
1    36;0;7;3;1;118;13;18;50;239.554;97;1;1;1;1;0;0...
2    3;23;7;4;1;179;51;18;38;239.554;97;0;1;0;1;0;0...
3    7;7;7;5;1;279;5;14;39;239.554;97;0;1;2;1;1;0;6...
4    11;23;7;5;1;289;36;13;33;239.554;97;0;1;2;1;0;...
..                                                 ...
735  11;14;7;3;1;289;36;13;33;264.604;93;0;1;2;1;0;...
736  1;11;7;3;1;235;11;14;37;264.604;93;0;3;1;0;0;1...
737  4;0;0;3;1;118;14;13;40;271.219;95;0;1;1;1;0;8;...
738  8;0;0;4;2;231;35;14;39;271.219;95;0;1;2;1;0;2;...
739  35;0;0;6;3;179;45;14;53;271.219;95;0;1;1;0;0;1...

[740 rows x 1 columns]>

In [22]:
data

    ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours
0    11;26;7;3;1;289;36;13;33;239.554;97;0;1;2;1;0;...
1    36;0;7;3;1;118;13;18;50;239.554;97;1;1;1;1;0;0...
2    3;23;7;4;1;179;51;18;38;239.554;97;0;1;0;1;0;0...
3    7;7;7;5;1;279;5;14;39;239.554;97;0;1;2;1;1;0;6...
4    11;23;7;5;1;289;36;13;33;239.554;97;0;1;2;1;0;...
..                                                 ...
735  11;14;7;3;1;289;36;13;33;264.604;93;0;1;2;1;0;...
736  1;11;7;3;1;235;11;14;37;264.604;93;0;3;1;0;0;1...
737  4;0;0;3;1;118;14;13;40;271.219;95;0;1;1;1;0;8;...
738  8;0;0;4;2;231;35;14;39;271.219;95;0;1;2;1;0;2;...
739  35;0;0;6;3;179;45;14;53;271.219;95;0;1;1;0;0;1...

[740 rows x 1 columns]